%div#howitworks
  %div#first
    %h3 First
    Peruse the list of ideas or add one of your own
    
  %div#then
    %h3 Then
    Claim an idea and get hackin'

  %div#finally
    %h3 Finally
    Launch your app, come back and tell the world
  
%div#getstarted
  %h2 Sound interesting?
  
  %div
    %p
      Get started by 
      %a{ :href => "/login" } logging in
      with your OpenID.
  
    %p
      Don't have an OpenID?
      %a{ :href => "http://www.myopenid.com" } Get one for free.