%div#banner
  %h1 applette
  %h2 small ideas for small apps

%div#howitworks
  %ul
    %li
      %h3 First
      Peruse the list of ideas or add one of your own

    %li
      %h3 Then
      Claim an idea and get hackin'

    %li
      %h3 Finally
      Launch your app and tell the world

%div#ideas
  %ul
    %li an app to track app ideas
    %li band name generator
    %li flickr/twitter/facebook/github aggregator
