%div#howitworks
  %div#first
    %h3 First
    Peruse the list of ideas or add one of your own
    
  %div#then
    %h3 Then
    Claim an idea and get hackin'

  %div#finally
    %h3 Finally
    Launch your app, come back and tell the world

%div#ideas
  %ul
    %li an app to track app ideas
    %li band name generator
    %li flickr/twitter/facebook/github aggregator
