!!! XML
!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title= "applette &mdash; #{@page_title}"
    %link{ :rel => 'stylesheet', :href => '/css/applette.css', :type => 'text/css' }

  %body
    = @header

    %div.container= yield

    %div#footer
      Copyright &copy; 2009 Ben Bleything. Ideas belong to whoever submitted them.