// color scheme from kuler:
// http://kuler.adobe.com/#themeID/177361

!white       = #f0f1f2
!dark_grey   = #232625
!medium_grey = #647362
!green       = #b3d929
!light_grey  = #d2d9b8

// other colors
!openid_orange = #f7931e
!error_background = #261f1f
!error_border     = #692525


@import blueprint/screen.sass
@import compass/reset.sass

body
  :background= !dark_grey
  :font-family "Trebuchet MS", Verdana, sans-serif
  :color= !light_grey

a
  :color = !medium_grey
  :text-decoration none
  &:hover
    :color = !green
    :text-decoration underline

div.container
  +container
  // :background url(/grid.png)
  :margin-top 2em
  :margin-bottom 5em
  
  h1
    :font-size 4em
  h2
    :font-size 0.8em

span.logo
  :color= !green
  :font-weight bold

span.openid
  :background url( /images/tiny-openid.png ) no-repeat 0px 1px
  :padding-left 19px
  :color= !openid_orange

div.error, div.warning, div.message
  +push( 2 )
  +column( 20, true )
  :border-width 1px
  :border-style solid
  
  p.message
    :vertical-align center
    :min-height 40px
    :margin-left 3em
    :margin-right 1em
    :margin-bottom 3px
  
  img
    :position absolute
    :left 5px
    :top 4px

div.error
  :background=   !error_background
  :border-color= !error_border
  
div.warning
  :background #26261A
  :border-color #696525

div.message
  :background #1A1F26
  :border-color #254069

  
  

////////////////////////////////////////////////////////////////////////
/// H E A D E R   A N D   F O O T E R
////////////////////////////////////////////////////////////////////////

div#header
  :color= !white
  :background= !medium_grey
  :padding 0 10px 5px 10px

div#header
  a
    :color= !dark_grey
    &:hover
      :color= !green

  h1, h2
    :display inline

  h1
    :font-weight bold
    :color= !green
    :font-size 1em

  h2
    :color black
    :font-size 0.6em

  div.userbox
    :font-size 0.9em
    :position absolute
    :top 2px
    :right 10px

div#footer
  :text-align center
  :background= !medium_grey
  :color= !white
  :font-size 0.8em
  :padding 2px

////////////////////////////////////////////////////////////////////////
/// B A N N E R
////////////////////////////////////////////////////////////////////////

div#banner
  :text-align center

  h1
    :color= !green
    :font-size 8em
    :font-weight bold
  h2
    :color= !light_grey
    :font-size 1.5em
    :margin-top -1em
    :margin-bottom 2em

////////////////////////////////////////////////////////////////////////
// H O W   I T   W O R K S
////////////////////////////////////////////////////////////////////////

div#howitworks
  +column(24)
  :background= !medium_grey
  :margin-bottom 3em
  :padding-top 0.8em
      
  h3
    :font-size 2em
    :color= !dark_grey

  // starts one column in
  div#first
    +push(1)

  // two columns between each item
  div#then, div#finally
    +push(2)

  // each section is 6 columns wide
  div#first, div#then, div#finally
    +column(6)
          
  div#finally
    +last

////////////////////////////////////////////////////////////////////////
// G E T   S T A R T E D
////////////////////////////////////////////////////////////////////////

div#getstarted
  +column( 22 )
  
  h2
    +push( 2 )
    +column( 10 )
    :font-size 2em
  
  div
    :padding-top 6px
    +column( 10, true )

////////////////////////////////////////////////////////////////////////
// L O G I N
////////////////////////////////////////////////////////////////////////

form#login
  input#openid
    +column( 22, true )
    :font-size 3.5em
    :border-style solid
    :border-width 1px
    :border-color= !light_grey
    :background= !medium_grey
    :background-image url( /images/openid.png )
    :background-repeat no-repeat
    :background-position 2px
    :padding-left 75px
    :color= !openid_orange
  
p#getopenid
  :margin-top 5px
  :text-align right